$app-bg: rgb(247,247,250);
$modal-bg: rgb(255,255,255);
$font-color: rgb(35,39,60);
$danger-color: rgb(255,84,96);
$submit-color: rgb(65,220,101);
$prize-color: rgb(25,29,60);
$border-color: rgb(225,225,225);